{% extends 'base.html.twig' %}

{% block body %}

    <div class="block">

        <div class="page-header">
            <h1>{{ 'history.title'|trans }}</h1>
        </div>

        
        <span class="total_clicks">
            {{ usages_num }}
        </span>
        
        <p class="well mt-2">
            {{ 'history.description'|trans }}
            <a href="{{ url('short_url_page', {slug: short_url}) }}" target="_blank">{{ url('short_url_page', {slug: short_url}) }}</a>
        </p>

        <p class="mt-2">
            <a href="{{ path('index') }}" class="btn btn-primary">{{ 'create_new_short_url'|trans }}</a>
        </p>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('shortener') }}
{% endblock %}